<p id="notice"><%= notice %></p>
<div class="row end-submission">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
    <h2>Thanks for submitting us your video.</h4>
      <hr />
    <p> We'll send you a response from a professional councillor within 48 hours. You can check back at this link to see your councillor's response.</p>
  </div>
</div>
<div class="row end-submission-link">
  <div class="col-xs-12">
    <div class="well well-lg text-center"><h2><%= 'http://' + request.host.to_s + '/videos/timeline/' + @video.token %></h2></div>
  </div>
</div>