/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// vars http://getbootstrap.com/customize/#less-variables

body {
  //min-height: 2000px;
  padding-top: 70px;
  padding-bottom: 2em;
}

// START TIMELINES
.timelines td img {
  max-height:20px;
}
// END TIMELINES

// START VIDEO
.end-submission {
  margin: 3em 0;
}
.end-submission-link {
  margin-top: 3em;
}
.camera_tag.video-recorder {
  margin: 2em auto;
  display: block;
}
.response-row,
.submission-row {
  .panel-body {
    padding: 0;
  }
}
.jwplayer.playlist-none {
  //margin: 0em auto;
  //display: block;
}
// END VIDEO

// START PROMPT SLIDER
  /* carousel */
  #quote-carousel 
  {
    padding: 0 10px 30px 10px;
    margin-top: 30px 0px 0px;
  }

  /* Control buttons  */
  #quote-carousel .carousel-control
  {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
  }
  /* Previous button  */
  #quote-carousel .carousel-control.left 
  {
    left: -12px;
  }
  /* Next button  */
  #quote-carousel .carousel-control.right 
  {
    right: -12px !important;
  }
  /* Changes the position of the indicators */
  #quote-carousel .carousel-indicators 
  {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
  }
  /* Changes the color of the indicators */
  #quote-carousel .carousel-indicators li 
  {
    background: #c0c0c0;
  }
  #quote-carousel .carousel-indicators .active 
  {
    background: #333333;
  }
  #quote-carousel img
  {
    width: 250px;
    height: 100px
  }
  /* End carousel */

  .item blockquote {
      border-left: none; 
      margin: 0;
  }

  .item blockquote img {
      margin-bottom: 10px;
  }

  .item blockquote p:before {
      content: "\f10d";
      font-family: 'Fontawesome';
      float: left;
      margin-right: 10px;
  }



  /**
    MEDIA QUERIES
  */

  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) { 
      #quote-carousel 
      {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
        margin-top: 30px;
      }
      
  }

  /* Small devices (tablets, up to 768px) */
  @media (max-width: 768px) { 
      
      /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
      
      #quote-carousel .carousel-indicators {
          bottom: -20px !important;  
      }
      #quote-carousel .carousel-indicators li {
          display: inline-block;
          margin: 0px 5px;
          width: 15px;
          height: 15px;
      }
      #quote-carousel .carousel-indicators li.active {
          margin: 0px 5px;
          width: 20px;
          height: 20px;
      }
  }
// END PROMPT SLIDER